/* elementi comuni a tutte le pagine*/
body {
	background-color: black;
	color: white;
}
h1 {
	font-family: 'WindSong', cursive;
	font-size: 50px;
	padding-top: 1%;
	color: #ffff80;
}
h2 {
	display: block;
	text-align: center;
	background-color: brown;
}
h3 {
	color: #ffff80;
	font-size: 20px;
}
#navlink {
	color: #d55d5d;
}
.dropdown-menu {
	background-color: #4d4d4d;
}
#cerca {
	background-color: black;
	padding-top: 2%;
}
#ricerca {
	max-width: 150px;
	display: block;
	margin: auto;
}
.row {
	padding-bottom: 2%;
}
.col-md-2 {
	background-color: rgb(255, 255, 255, 0.4); 
	color: black;
}
.col-md-3 {
	background-color: rgb(255, 255, 255, 0.4); 
	color: black;
}
.btn-group-vertical {
	padding-bottom: 10%;
}
a:link {
	color: #d55d5d;
}
a:visited {
	color: #e08585;
}
a:active {
	color: #8e2525;
}
footer {
	background-color: brown;
}
footer a:link {
	color: #FF7F50;
}
footer a:visited {
	color: #D2691E;
}
.btn-correl{
	background-color: #511515;	
}

/*pagina home-------------------*/

.frase {
	color: yellow;
	position: absolute;
 	top: 70%;
  	width: 100%;
  	text-align: right;
  	font-size: 25px;
  	padding: 3% 15% 3% 0%;
  	background-color: black;
  	opacity: 0.7;
}
.dropdown-item {
	background-color: #0d0d0d;
	color: white;
}
#intro {
	padding-top: 15px;
}
strong {
	color: #d9d9d9;
}

/*pagina percorsi --------------*/
#modifica {
	font-size: 23px;
	padding-bottom: 3%;
	padding-top: 2%;
}

/*pagina sala ------------------*/
#striscia {
	padding: 20px;
	display: block;
	margin: auto;
}
.breadcrumb {
	margin-top: 10px;
	background-color: gb(255, 255, 255, 0.4);
}

/*pagina  leonardo -------------*/
#leo {
	width: 130px;
	float: left;
}
#b1 {
	color: white;
}
#b2 {
	color: white;
}
#b3 {
	color: white;
}
hr {
	border: 0.5px solid white;
}
.item {
	height: 140px;
	display: block;
	margin: auto;
}
tr {
	border-bottom: 0.5px solid white;
}
#descr {
	float: right;
}
h5 {
	color: #ffff80;
}

.correl {
	width: 90px;
	padding-left: 10%;
	padding-top: 2%;
}
.card {
	background-color: #101010;
	border-color: white;
}
.card-text {
	color: white;
}
.card-leggi {
	color: #d55d5d;
}
.col-md-8 .card-body {
	border-bottom: 1px solid white;
	height: 150px;
}

/*pagina testo -----------------*/
iframe {
	height: 625px;
	width: 100%;
}
#testo {
	padding-top: 20px;
}
/*pagina item ------------------*/
.card-img-top {
	width: 400px;
	display: block;
	margin: auto;
}
td {
	width: 100%;
	border-collapse: collapse;
}
.tipo {
	width: 35%;
}
.nome {
	width: 40%;
}
.percorsi {
	width: 50%;
}
.schede {
	color: white;
	font-size: 14px;
}

