/* elementi comuni a tutte le pagine*/
body {
	background-color: black;
	color: white;
}
h1 {
	font-family: 'WindSong', cursive;
	font-size: 50px;
	padding-top: 1%;
	color: #ffff80;
}
.col-md-2 {

}
.col-md-3 {
	background-color: rgb(255, 255, 255, 0.4); 
	color: black;
}
.row {
	padding-bottom: 2%;
}

/*pagina home-------------------*/

.frase {
	color: yellow;
	position: absolute;
 	top: 70%;
  	width: 100%;
  	text-align: right;
  	font-size: 25px;
  	padding: 3% 5% 3% 0%;
  	background-color: black;
  	opacity: 0.7;
}

.dropdown-item {
	background-color: #0d0d0d;
	color: white; /*sistemare meglio*/
}
#intro {
	padding-top: 10px;
}
strong {
	color: #d9d9d9;
}
footer {
	background-color: brown;
}

/*pagina di leonardo------------*/
#leo {
	width: 130px;
	float: left;
}
.item {
	width: 100px;
}
#descr {
	float: right;
}
h5 {
	color: #ffff80;
}
.correl {
	width: 90px;
	padding-left: 10%;
	padding-top: 2%;
}
.card {
	background-color: #101010;
	border-color: white;
}

/*pagina sale-------------------*/
#striscia {
	padding-bottom: 2%;
}
/*pagina testo -----------------*/
iframe {
	height: 625px;
	width: 100%;
}
#testo {
	padding-top: 20px;
}
/*pagina item ------------------*/
.card-img-top {
	width: 400px;
	display: block;
	margin: auto;
}
#titolo_item {
	display: block;
	text-align: center;
	background-color: brown;
}
td {
	width: 100%;
	border-collapse: collapse;
}
.tipo {
	width: 35%;
}
.nome {
	width: 40%;
}
.percorsi {
	width: 50%;
}
/*------------------------------*/

#img2 {
	width: 200px;
	float: left;
}
#tab_leo {
	float: right;
}
