/*sezione dei metadati nascosta*/
teiHeader {
	display: none;
}
* {
	background-color: #fff2cc;
}
/*testo*/
head {
	text-align: center;
	list-style: none;
	font-size: 30px;
	font-style: italic;
	text-decoration: underline;
	display: list-item;
}
TitlePage p {
	text-align: center;
	list-style: none;
	font-size: 15px;
	display: list-item;
	padding-bottom: 25px;
}
l {
	padding: 0.5% 2%;
	font-style: oblique;
	display: list-item;
}

q {
	font-style: oblique;
}
#last {
	padding-bottom: 3%;
}
